# Khalti Payment Gateway Configuration
KHALTI_SECRET_KEY=35652de6273d4a77843e4e8acf563dd0
KHALTI_PUBLIC_KEY=18e8a8026d0b4ab68f9a36593d07e593
NODE_ENV=development  # Change to 'production' for live environment

# Frontend Environment Variables
REACT_APP_KHALTI_PUBLIC_KEY=18e8a8026d0b4ab68f9a36593d07e593
REACT_APP_API_URL=http://localhost:5000 